//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 26 19:50:37 2018
//! **************************************************************************

SCHEMATIC START;
COMP "A<0>" LOCATE = SITE "P88" LEVEL 1;
COMP "A<1>" LOCATE = SITE "P85" LEVEL 1;
COMP "B<0>" LOCATE = SITE "P82" LEVEL 1;
COMP "B<1>" LOCATE = SITE "P78" LEVEL 1;
COMP "N<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "N<1>" LOCATE = SITE "P12" LEVEL 1;
COMP "N<2>" LOCATE = SITE "P5" LEVEL 1;
COMP "N<3>" LOCATE = SITE "P4" LEVEL 1;
COMP "N<4>" LOCATE = SITE "P94" LEVEL 1;
COMP "N<5>" LOCATE = SITE "P90" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "P40" LEVEL 1;
COMP "Digits<0>" LOCATE = SITE "P50" LEVEL 1;
COMP "Digits<1>" LOCATE = SITE "P49" LEVEL 1;
COMP "Digits<2>" LOCATE = SITE "P52" LEVEL 1;
COMP "Digits<3>" LOCATE = SITE "P56" LEVEL 1;
COMP "Digits<4>" LOCATE = SITE "P59" LEVEL 1;
COMP "Digits<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "Digits<6>" LOCATE = SITE "P60" LEVEL 1;
COMP "Digits<7>" LOCATE = SITE "P61" LEVEL 1;
COMP "SevSeg<0>" LOCATE = SITE "P64" LEVEL 1;
COMP "SevSeg<1>" LOCATE = SITE "P98" LEVEL 1;
COMP "SevSeg<2>" LOCATE = SITE "P73" LEVEL 1;
COMP "SevSeg<3>" LOCATE = SITE "P72" LEVEL 1;
COMP "SevSeg<4>" LOCATE = SITE "P65" LEVEL 1;
COMP "SevSeg<5>" LOCATE = SITE "P62" LEVEL 1;
COMP "SevSeg<6>" LOCATE = SITE "P71" LEVEL 1;
SCHEMATIC END;

